.qualification {
  .head-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 30px;
      font-family: "Mukta";
      z-index: 1;
      background-color: #edf2f8;
      padding: 0 50px;
      &.dark {
        background-color: transparent;
        color: #ffffff !important;
        @media screen and (max-width: 768px) {
          background-color: transparent;
        }
      }
      @media screen and (max-width: 577px) {
        font-size: 20px;
      }
    }
    &.dark {
      &::after {
        width: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #323bac24;
      margin-top: -6px;
    }
  }
  .contact-card {
    box-shadow: 20px 40px 30px rgba(50, 59, 172, 0.05);
    &.dark {
      box-shadow: 20px 40px 30px rgba(255, 255, 255, 0.1);
      background-color: #eeeeee !important;
    }
  }
  textarea {
    font-weight: 600;
    &::placeholder {
      color: #323bac40;
    }
  }
}

.Notification {
  position: fixed;
  padding: 30px;
  max-width: 350px;
  top: 10px;
  right: -350px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.775);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid #323aac;
  opacity: 0;

  p {
    text-align: center;
    color: #323bac;
    font-weight: 600;
  }

  svg {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    background-color: #323aac;
    padding: 5px;
    border-radius: 50%;
  }

  &.active {
    right: 10px;
    opacity: 1;
  }
}
