.experience {
  .head-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 30px;
      font-family: "Josefin Sans";
      z-index: 1;
      background-color: #edf2f8;
      padding: 0 50px;
      &.dark {
        background-color: transparent;
        color: #ffffff !important;
        @media screen and (max-width: 768px) {
          background-color: transparent;
        }
      }
      @media screen and (max-width: 577px) {
        font-size: 20px;
      }
    }
    &.dark {
      &::after {
        width: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #323bac24;
      margin-top: -6px;
    }
  }
  .image {
    height: 300px;

    @media screen and (max-width: 577px) {
      height: 200px;
    }
  }
  .tech-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;

    &.react {
      background-image: radial-gradient(transparent, #00d8ff30);
      img {
        height: 40px;
      }
    }
    &.node {
      background-image: radial-gradient(transparent, #689f6330);
      img {
        height: 35px;
      }
    }
    &.js {
      background-image: radial-gradient(transparent, #f7df1e30);
      img {
        height: 30px;
      }
    }
    &.angular {
      background-image: radial-gradient(transparent, #de364130);
      img {
        height: 37px;
      }
    }
    &.next {
      background-image: radial-gradient(transparent, #00000030);
      img {
        height: 36px;
      }
      &.white-icon {
        background-image: radial-gradient(transparent, #ffffff30);
      }
    }
    &.html {
      background-image: radial-gradient(transparent, #e44d2630);
      img {
        height: 40px;
      }
    }
    &.css {
      background-image: radial-gradient(transparent, #1172b830);
      img {
        margin-top: 5px;
        height: 37px;
      }
    }
    &.github {
      background-image: radial-gradient(transparent, #00000030);
      img {
        margin-top: 5px;
        height: 37px;
      }
    }
    &.scss {
      background-image: radial-gradient(transparent, #cd679930);
      img {
        margin-top: 5px;
        height: 37px;
      }
    }
    @media screen and (max-width: 577px) {
      height: 60px;
      width: 60px;
    }
  }
  .first-line {
    &::before {
      content: "";
      position: absolute;
      height: 0px;
      width: 1.5px;
      top: 27px;
      left: 17px;
      background-color: #323bac;
      transition: all 1s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      top: 25px;
      left: 13.5px;
      background-color: #323bac;
      transition: all 1s ease-in-out;
      opacity: 0;
    }
    &.active {
      &::before {
        height: 80px;
      }
      &::after {
        opacity: 1;
        top: calc(22px + 80px);
      }
    }
  }
  .third-line {
    margin-top: 70px;
    &::before {
      content: "";
      position: absolute;
      height: 0px;
      width: 1.5px;
      top: 140px;
      left: 17px;
      background-color: #323bac;
      transition: all 1.5s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      top: 140px;
      left: 13.5px;
      background-color: #323bac;
      transition: all 1.5s ease-in-out;
      opacity: 0;
    }
    &.active {
      &::before {
        height: 90px;
      }
      &::after {
        opacity: 1;
        top: calc(85px + 140px);
      }
    }
  }
  .content {
    z-index: 1;
  }
}
